<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="./javascripts/jquery-3.7.1.min.js"></script>
  <script>
  $(document).ready(function() {
   // for later use
  });
</script>
  <%- include('../partials/header'); %>
</head>

<body class="g-sidenav-show  bg-gray-100">

  <aside style="background-color: white;" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <%- include('../partials/leftsidecontainer'); %>  
  </aside>  
 
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>
    <!-- End Navbar -->
    <div class="container-fluid py-4" id="topButtons">
      <%- include('../partials/rowofnotes',carddata); %>   
    </div>  

     <hr style="margin: 20px 0; border: 1px solid #b6b6b6;">

     <div class="container-fluid py-4" id="topButtons" id="mainWorkArea">
      <%- include('../partials/emptytable'); %>        
    </div>  

   <!--   
     
      <%- include('../partials/rowofcharts'); %>
      <%- include('../partials/rowoftableandtimeline'); %>

     <%- include('../partials/footerrow'); %>      
      -->
  
  </main>
  <%- include('../partials/rightbottomconfiguator'); %> 
 
  <!--   Core JS Files   -->
  <%- include('../partials/corejs'); %>
  
  
 
   <!-- Github buttons -->
   <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>  

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'    
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
       
  </script>
</body>

</html>